{% extends "template.html"%}
{% block conteudo %}
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Autor</th>
                    <th>*</th>
                    <th>*</th>
                </tr>
            </thead>
            <tbody>
                {% for livro in livros %}
                    <tr>
                        <td>{{ livro.nome }}</td>
                        <td>{{ livro.categoria }}</td>
                        <td>{{ livro.autor }}</td>
                        <td>  <a href = "{{ url_for('editar', id=livro.id) }}">Editar</a></td>
                        <td>  <a href = "{{ url_for('deletar', id=livro.id) }}">Deletar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="{{ url_for('novo') }}">Cadastrar Livro</a>
{% endblock %}